/* setting styles for entire website */
* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* formating header */
header {
    background: linear-gradient(to right, rgb(52, 52, 207), rgb(89, 0, 116));
    color: white;
    text-align: center;
    padding: 2%;
}

/* .content {
    display: flex;
} */

form {
    padding: 3%;
}